<% provide(:title, "#{@user.name}") %>
<p>
  <strong><%= t '.name' %>:</strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= t '.email' %>:</strong>
  <%= @user.email %>
</p>
<ul class="list-inline">
  <li><%= link_to "#{t '.edit'}", edit_user_path(@user) %></li>
  <li><%= link_to "#{t '.delete'}", user_path(@user), method: :delete, data: { confirm:
    "#{t '.confirmation'}" } %></li>
</ul>
