<% provide(:title, "#{@pack.name}") %>
<p>
  <strong><%= t '.name' %>:</strong>
  <%= @pack.name %>
</p>

<table class="table table-striped">

    <thead>
      <tr>
        <th><%= t '.original_text' %></th>
        <th><%= t '.translated_text' %></th>
        <th><%= t '.review_date' %></th>
        <th><%= t '.show' %></th>
        <th><%= t '.edit' %></th>
        <th><%= t '.delete' %></th>
      </tr>
    </thead>

    <tbody>
      <% @pack.cards.each do |card| %>
        <tr>
          <td><%= card.original_text %></td>
          <td><%= card.translated_text %></td>
          <td><%= card.review_date.strftime("%d/%m/%Y") %></td>
          <td><%= link_to "#{t '.show'}", card_path(card) %></td>
          <td><%= link_to "#{t '.edit'}", edit_card_path(card) %></td>
          <td><%= link_to "#{t '.delete'}", card_path(card), method: :delete, data: { confirm:
            "#{t '.confirmation'}" } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
