<div class="col-xs-3">
  <%= simple_form_for @card, html: { multipart: true } do |f| %>
    <% if @card.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@card.errors.count, "error") %>
          prohibited this card from being saved:
        </h2>
        <ul>
          <% @card.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <p><%= f.input :original_text, hint: 'in English' %></p>
  <p><%= f.input :translated_text, hint: 'in Russian' %></p>
  <% unless current_user.packs.nil? %>
    <p><%= f.select :pack, options_for_select(current_user.packs.map { |pack| [pack.name] }) %></p>
  <% end %>
  <p><%= link_to "Создать колоду", new_pack_path %><p>
  <p><%= f.input :image, as: :file %></p>
  <p><%= f.input :image_url, label: "Enter a URL" %></p>
  <p><%= f.button :submit, class: "btn btn-large btn-primary"%></p>
  <% end %>
</div>
