<div class="col-xs-3">
  <%= simple_form_for(@card, :url => check_path(:id => @card.id)) do |f| %>
  <h2>
    <%= @card.translated_text %>
  </h2>
  <p>
    <%= f.input :original_text, value: "", label: "Введите перевод слова" %>
  </p>
  <p>
    <%= f.submit 'Check' %>
  </p>
<% end %>
</div>
<p>
<%= link_to "Следующая карточка", root_path %>
</p>
