<div class="col-xs-3">
  <h2><%= @card.translated_text %></h2>
  <p><%= image_tag(@card.image.url(:thumb)) if @card.image.exists? %></p>
  <%= form_tag check_card_path(@card) do |f| %>
    <p><%= text_field_tag :user_text %></p>
    <p><%= button_tag 'Check' %></p>
  <% end %>
</div>
<p><%= link_to "Следующая карточка", root_path %></p>
