<% provide(:title, "#{@card.original_text}") %>
<p>
  <strong><%= t '.original_text' %>:</strong>
  <%= @card.original_text %>
</p>

<p>
  <strong><%= t '.translated_text' %>:</strong>
  <%= @card.translated_text %>
</p>

<p>
  <strong><%= t '.image' %>:</strong>
  <%= image_tag(@card.image.url(:thumb)) if @card.image.exists? %>
</p>

<p>
  <strong><%= t '.pack' %>:</strong>
  <%= @card.pack.name if @card.pack %>
</p>
