<!DOCTYPE html>
<html>
  <head>
    <title>Флэшкарточкер</title>
    <link href="/assets/bootstrap.css" rel="stylesheet">
    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <header>
      <h1>Флэшкарточкер</h1>
      <ul class="nav nav-pills">
        <li class="active">
          <%= link_to "Главная", root_path %>
        </li>
        <li>
          <%= link_to "Все карточки", cards_path %>
        </li>
        <li>
          <%= link_to "Добавить карточку", new_card_path %>
        </li>
      </ul>
    </header>

    <section>
      <%= yield %>
    </section>

  </body>
</html>
