<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-default" role="navigation">

        <div class="navbar-header">
          <a class="navbar-brand" href="#"><%= t '.title' %></a>
          <ul class="nav navbar-nav">
            <li><%= link_to "#{t '.main'}", root_path %></li>
            <% if current_user %>
              <li><%= link_to "#{t '.all_cards'}", cards_path %></li>
              <li><%= link_to "#{t '.new_card'}", new_card_path %></li>
              <li><%= link_to "#{t '.edit_profile'}", edit_user_path(current_user.id) %></li>
              <li><%= link_to "#{t '.logout'}", logout_path, method: :delete %></li>
              <li><%= link_to "#{t '.add_pack'}", new_pack_path %></li>
              <li><%= link_to "#{t '.all_packs'}", packs_path %></li>

            <% else %>
              <li><%= link_to "#{t '.register'}", new_user_path %></li>
              <li><%= link_to "#{t '.login'}", login_path %></li>
              <li><%= link_to "#{t '.vk_login'}", auth_at_provider_path(:provider => :vk) %></li>
              <li><%= link_to "#{t '.google_login'}", auth_at_provider_path(:provider => :google) %></li>
              <li><%= link_to 'en', login_path(locale: 'en') %></li>
              <li><%= link_to 'ru', login_path(locale: 'ru') %></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>

    <section>
      <%= yield %>
    </section>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    </div>

  </body>
</html>
