<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <link href="/assets/bootstrap.css" rel="stylesheet">
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <h1>Флэшкарточкер</h1>
      <ul class="nav nav-pills">
        <li>
          <%= link_to "Главная", root_path %>
        </li>
        <% if current_user %>
        <li>
          <%= link_to "Все карточки", cards_path %>
        </li>
        <li>
          <%= link_to "Добавить карточку", new_card_path %>
        </li>
        <li>
          <%= link_to "Edit Profile", edit_user_path(current_user.id) %>
        </li>
        <li>
          <%= link_to "Logout", logout_path, method: :delete %>
        </li>
          <% else %>
        <li>
          <%= link_to "Register", new_user_path %>
        </li>
        <li>
          <%= link_to "Login", login_path  %>
        </li>
        <% end %>
      </ul>
    </header>

    <section>
      <%= yield %>
    </section>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    </div>

  </body>
</html>
